/*-- scss:defaults --*/
$h1-font-size:          2.2rem !default;
$h2-font-size:          1.75rem !default;
$h3-font-size:          1.5rem !default;
$h4-font-size:          1.25rem !default;
$h5-font-size:          1.1rem !default;
$h6-font-size:          1rem !default;
// $headings-font-weight:  500 !default;
// $link-color: #00923f;
$udenar-color: #00923F;
//$link-color: $udenar-color;
$link-color: #3483dc;
//$body-bg: #f5f5f5;
$body-bg: #f8f8f8;
$body-color: #373a3c;
//$headings-color: $udenar-color;
$headings-color: $body-color;


// flatly colors
//$code-block-bg: #e4e9eb;
//$out-block-bg: #ebe6e4;

// cosmo colors
$code-block-bg: #eff2f3;
//$code-block-bg: #d9e0e2;
$out-block-bg: #f2efed;
$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/*-- scss:rules --*/

.sidebar-title > a {
  font-size: inherit;
  text-decoration: none;
  //color: $link-color;
}


h1, h2, h3, h4, h5, h6 {
  //font-family: "Abel", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $headings-color;
}


a {
    text-decoration: none;
}

.wrapfigure {
  float: right;
}

/*  background-color: rgba(233,236,239,.65);
  background-color: #e9ecef;
, .cell-output-stdout*/

.cell-output {
  background-color: $out-block-bg;
  // border: 1px solid #f2efed;
  border-radius: .25rem;
  padding: .4em;
  margin-bottom: 1em;
}

.margin-logo {
  //border-top: 1px solid #666;
  width: 250px;
  height: 220px;
  margin-top: 40px;
  background-image: url("assets/images/udenar_logo_black.svg");
  background-repeat: no-repeat;
  background-position: top, center;
  font-size: 10pt;
  text-align: center;
  position: relative;
}

.margin-child {
  position: absolute;
  bottom: 4px;
  width: 100%;
}


#margin-cild a {
  text-decoration: none;
  color: var(--bs-body-color);
}

.header-section-number {
  color: $headings-color;
}

/*
Cosmo
--bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

Flatly
--bs-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
*/